<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
        <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
        <section name="NHibernateSagaPersisterConfig" type="NServiceBus.Config.NHibernateSagaPersisterConfig, NServiceBus.Core"/>
        <section name="DBSubscriptionStorageConfig" type="NServiceBus.Config.DBSubscriptionStorageConfig, NServiceBus.Core"/>
    </configSections>

    <MsmqTransportConfig
      InputQueue="ClearMeasure.DistributedOnionArchitecture.CreditEngine"
      ErrorQueue="ClearMeasure.DistributedOnionArchitecture.CreditEngine.error"
      NumberOfWorkerThreads="1"
      MaxRetries="3"
  />

    <UnicastBusConfig>
        <MessageEndpointMappings>
            <add Messages="CreditBureau.Commands"
                 Endpoint="ClearMeasure.DistributedOnionArchitecture.CreditBureau"/>
        </MessageEndpointMappings>
    </UnicastBusConfig>

    <NHibernateSagaPersisterConfig>
        <NHibernateProperties>
            <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider"/>
            <add Key="connection.driver_class" Value="NHibernate.Driver.SqlClientDriver"/>
            <add Key="connection.connection_string"
                 Value="Server=localhost\sqlexpress;initial catalog=DistributedOnionArchitecture;Integrated Security=SSPI"/>
            <add Key="dialect" Value="NHibernate.Dialect.MsSql2005Dialect"/>
        </NHibernateProperties>
    </NHibernateSagaPersisterConfig>

    <DBSubscriptionStorageConfig>
        <NHibernateProperties>
            <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider"/>
            <add Key="connection.driver_class"
                 Value="NHibernate.Driver.SqlClientDriver"/>
            <add Key="connection.connection_string"
                 Value="Server=localhost\sqlexpress;initial catalog=DistributedOnionArchitecture;Integrated Security=SSPI"/>
            <add Key="dialect"
                 Value="NHibernate.Dialect.MsSql2005Dialect"/>
        </NHibernateProperties>
    </DBSubscriptionStorageConfig>
</configuration>